body {
    font-family: 'Rye', serif;
    background-color: #f4f1e1;
    color: #8B4500;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #8B4500;
}

button {
    background-color: #8B4500;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}
